%footer.footer.text-center
  .row
    #old-cate-button-container.span12.centered
      %span#old-cate-button.btn.btn-mini But I liked the old CATE!
  .container
    %p
      Designed and Created by &nbsp;
      %a{:href => "http://www.inspiredpixel.net"} Peter Hamilton &nbsp;
      %a{:href => "http://www.twitter.com/peterejhamilton"}
        %i.icon-twitter &nbsp;
      %a{:href => "http://www.github.com/peterhamilton"}
        %i.icon-github &nbsp;
    %p
      This journey 1% finished. Help lessen the pain - &nbsp;
      %a{:href => "https://github.com/PeterHamilton/classy-cate"}
        %i.icon-github-alt