= form_for("user", :url => user_session_path, :html => {:class => 'login-form'}) do |f|
  %p.field
    = text_field_tag 'user[email]', 'College Email'
    %i.icon-user.icon-large
  %p.field
    = password_field_tag 'user[password]', 'Password'
    %i.icon-lock.icon-large
  %p.submit
    %button{:type => :submit, :name => :commit, :go => true}
      %i.icon-arrow-right.icon-large