#notes-modal.modal.hide.fade
  .modal-header#notes-modal-header
    %button{:type => "button", :class => "close", :"data-dismiss" => "modal", :"aria-hidden" => "true"} &times;
  .modal-body#notes-modal-body
    %table.table.wide_table.table-striped.table-bordered
      %thead
        %tr
          %th ID
          %th Link
      %tbody#notes-modal-tbody
        %tr
          %td
          %td